.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; /* Regular */
    background-color: #181820;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.quotes-sidebar {
    width: 40%;
    padding: 10px 20px;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255,255,255, 3%);
    border: 1px solid rgba(255, 255, 255, 7%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.quote-container {
    text-align: center;
    position: relative;
    width: 100%;
}

.quotes-icon {
    position: absolute;
    left: 28.5%;
    top: 15px;
    width: 32px;
    height: 24px;
}

#quote-text {
    font-size: 1em;
    color: white;
    margin: 5px auto;
    line-height: 120%;
    font-style: italic;
    font-weight: 700; /* Bold */
    letter-spacing: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 90%;
}

#quote-author {
    font-size: 1em;
    color: #FFFFFF;
    opacity: 60%;
    margin: 0 auto 5px auto;
}

#regenerate-quote {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#regenerate-quote:hover {
    background-color: #181820;
}

.regenerate-icon {
    width: 15px;
    height: 15px;
}

.notes-sidebar {
    min-width: 300px;
    width: 300px;
    max-width: 800px;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgb(255,255,255, 3%);
    border: 1px solid rgba(255, 255, 255, 7%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resizer {
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: ew-resize;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

#search-input {
    padding: 7px 10px 7px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

li {
    padding: 10px;
    position: relative;
  }

li:hover {
    background-color: #909299;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 8px 10px;
    margin-bottom: 15px;
}

.file-label {
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

#note-input {
    border: none;
    outline: none;
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #23272A;
    border-radius: 5px;
    z-index: 1000;
    width: 120px;
}

.context-menu.active {
    display: block;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 10px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #58595c;
}
.menu-item {
    display: flex;
    align-items: center;
}

.menu-item .icon {
    margin-right: 12px;
    width: 15px;
    height: 15px;
}

.menu-item span {
    cursor: pointer;
    font-size: 14px;
}

.note_item {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    display: grid;
    justify-content: start;
    border-radius: 5px;
    background-color: rgba(168, 168, 168, 0.15);
    margin-bottom: 10px;
    grid-template-columns: 30px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "order note-content"
    "order note-date";
}

.note_content {
    font-size: 16px;
    font-weight: bolder;
    grid-area: note-content;
}

.note_date {
    font-size: 12px;
    margin-top: 10px;
    opacity: 0.8;
    grid-area: note-date;
}

.drag-handle {
    cursor: move;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    grid-area: order;
    opacity: 0.8;
    align-self: center;
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #909299;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.task-groups {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-group h3 {
    color: #FFF;
    display: flex;
    align-items: center;
}

.task-group .task-count {
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    border: 2px solid #ccc;
    margin-left: 10px;
}

.group-title {
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
}

.tasks.collapsed {
    max-height: 0;
    opacity: 0;
}

.task {
    background-color: rgba(168, 168, 168, 0.15);
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    position: relative;
}

.task .title {
    font-weight: bold;
}

.task .description {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 70%;
    margin: 10px 10px 0 0;
    width: 70%;
}

.task .deadline {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

.task .progress-bar {
    margin-top: 10px;
}

#add-task-button {
    background-color: #7289DA;
    color: #FFF;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
}

.group-color {
    width: 10px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    top: 3px;
}

.task-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-top: 5px;
}

.task-metadata {
    width: 30%;
}

.task-body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.task-icon-label{
    margin: 2px 0 5px 0;
    font-size: 8px;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.task-card-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.task-header-divider {
    height: 1px;
    border: none;
    background-color: white;
    opacity: 10%;
    border-radius: 5px;
    margin: 0;
}

.status-dropdown {
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    padding: 5px;
    border-radius: 3px;
}

.status-dropdown option {
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
}

/* Override the default focus and hover styles */
.status-dropdown option:hover,
.status-dropdown option:focus {
    /* background-color: inherit !important;
    color: inherit !important; */
    cursor: pointer;
    outline: none;
    background-color: none;
}

/* Remove the default blue background on select hover */
.status-dropdown:hover,
.status-dropdown:focus {
    outline: none;
    background-color: none;
}

.hidden {
    display: none;
}

/* General Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
#create-task-form {
    display: flex;
    flex-direction: column;
}

#create-task-form label {
    margin-top: 10px;
}

#create-task-form input[type="text"],
#create-task-form select,
#create-task-form input[type="datetime-local"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: 303030;
}

.create-task-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-task-button:hover {
    background-color: #218838;
}