<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="quotes-sidebar">
                <img src="{{ url_for('static', filename='icons/quote-icon.png') }}" alt="Quotes" class="quotes-icon">
                <div class="quote-container">
                    <p id="quote-text"></p>
                    <p id="quote-author"></p>
                    <button id="regenerate-quote"><img src="{{ url_for('static', filename='icons/regenerate.png') }}" alt="Regenerate Quote" class="regenerate-icon"></button>
                </div>
            </div>
            <div class="notes-sidebar" id="notes-sidebar">
                <div class="resizer" id="resizer"></div>
                <div class="header">
                    <h2>Notes</h2>
                    <div class="search-box">
                        <input type="text" id="search-input" placeholder="Search notes...">
                        <img src="{{ url_for('static', filename='icons/search.png') }}" alt="Search" class="search-icon">
                    </div>
                </div>
                <ul id="notes-list">
                    {% for note in notes %}
                        <li class="note_item" data-id="{{ note.id }}" data-starred="{{ '1' if note.is_starred else '0' }}" oncontextmenu="showContextMenu(event)">
                            <div class="drag-handle">☰</div>
                            <span class="note_content">{{ note.note_content }}</span>
                            <span class="note_date">{{ note.updated_at }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <form id="notes-form" action="{{ url_for('add_note') }}" method="POST">
                    <div class="input-container">
                        <input type="file" id="file-input" style="display: none;">
                        <label for="file-input" class="file-label">
                            <img src="{{ url_for('static', filename='icons/upload_picture.png') }}" alt="Upload" class="icon">
                        </label>
                        <input type="text" name="note" id="note-input" placeholder="Type message">
                        <button type="submit">
                            <img src="{{ url_for('static', filename='icons/send.png') }}" alt="Send" class="icon">
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="task-container">
            <div class="task-groups">
                <button id="add-task-button">+</button>
                {% for group in groups %}
                <div class="task-group" data-group-id="{{ group.id }}">
                    <h3 class="group-title" data-status="{{ group.status }}">
                        <div class="group-color" style="background-color: #{{ group.color_hex }}"></div>
                        {{ group.name|upper }} 
                        <span class="task-count">{{ group.tasks|length }}</span>
                    </h3>
                    <div class="tasks {% if group.status == 'collapsed' %}collapsed{% endif %}" data-group-id="{{ group.id }}">
                        <!-- Tasks will be dynamically inserted here -->
                    </div>
                </div>
                {% endfor %}
            </div>            
            <div id="task-modal" class="modal">
                <div class="modal-content">
                    <span class="modal-close">&times;</span>
                    <form id="create-task-form">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" required>
            
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" required>
            
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" id="deadline" name="deadline" required>
            
                        <label for="urgency_id">Urgency</label>
                        <select id="urgency_id" name="urgency_id" required>
                            <option value="" disabled selected>Select Urgency</option>
                            {% for urgency in urgencies %}
                                <option value="{{ urgency.id }}">{{ urgency.name }}</option>
                            {% endfor %}
                        </select>
            
                        <label for="effort_id">Effort</label>
                        <select id="effort_id" name="effort_id" required>
                            <option value="" disabled selected>Select Effort</option>
                            {% for effort in efforts %}
                                <option value="{{ effort.id }}">{{ effort.name }}</option>
                            {% endfor %}
                        </select>
            
                        <button type="submit" class="primary-button create-task-button">Add Task</button>
                    </form>
                </div>
            </div>
            <div id="edit-task-modal" class="modal">
                <div class="modal-content">
                    <span class="modal-close modal-close-edit">&times;</span>
                    <h2>Edit Task</h2>
                    <form id="edit-task-form">
                        <input type="hidden" id="edit-task-id">
                        <div>
                            <label for="edit-title">Title</label>
                            <input type="text" id="edit-title" required>
                        </div>
                        <div>
                            <label for="edit-description">Description</label>
                            <textarea id="edit-description" required></textarea>
                        </div>
                        <div>
                            <label for="edit-deadline">Deadline</label>
                            <input type="date" id="edit-deadline" required>
                        </div>
                        <div>
                            <label for="edit-urgency_id">Urgency</label>
                            <select id="edit-urgency_id" required>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div>
                            <label for="edit-effort_id">Effort</label>
                            <select id="edit-effort_id" required>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div>
                            <label for="edit-status_id">Status</label>
                            <select id="edit-status_id" required>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="buttons-row">
                            <button type="submit" class="primary-button">Save</button>
                            <button type="button" id="delete-task-button" class="delete-task-button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>            
        <div id="context-menu" class="context-menu">
            <ul>
                <li>
                    <div class="menu-item">
                        <img src="{{ url_for('static', filename='icons/starred.png') }}" alt="Star" class="icon" id="star-icon">
                        <span id="star-note">Star</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <img src="{{ url_for('static', filename='icons/edit.png') }}" alt="Edit" class="icon">
                        <span id="edit-note">Edit</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <img src="{{ url_for('static', filename='icons/delete.png') }}" alt="Delete" class="icon">
                        <span id="delete-note">Delete</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>