<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <h2>Set New Password</h2>
        <form method="post" action="{{ url_for('reset_password_token', token=token) }}">
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>